hdp-ambari-mpack-3.1.4.0-1/common-services/NIFI/1.2.0/configuration/nifi-node-logback-env.xml
<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<!--
   Licensed to the Apache Software Foundation (ASF) under one or more
   contributor license agreements.  See the NOTICE file distributed with
   this work for additional information regarding copyright ownership.
   The ASF licenses this file to You under the Apache License, Version 2.0
   (the "License"); you may not use this file except in compliance with
   the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<configuration>
    <property>
        <name>content</name>
        <display-name>Template for logback.xml</display-name>
        <value>
            &lt;!--
            Licensed to the Apache Software Foundation (ASF) under one or more
            contributor license agreements.  See the NOTICE file distributed with
            this work for additional information regarding copyright ownership.
            The ASF licenses this file to You under the Apache License, Version 2.0
            (the &quot;License&quot;); you may not use this file except in compliance with
            the License.  You may obtain a copy of the License at
            http://www.apache.org/licenses/LICENSE-2.0
            Unless required by applicable law or agreed to in writing, software
            distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
            WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
            See the License for the specific language governing permissions and
            limitations under the License.
            --&gt;

            &lt;configuration scan=&quot;true&quot; scanPeriod=&quot;30 seconds&quot;&gt;
            &lt;contextListener class=&quot;ch.qos.logback.classic.jul.LevelChangePropagator&quot;&gt;
            &lt;resetJUL&gt;true&lt;/resetJUL&gt;
            &lt;/contextListener&gt;

            &lt;appender name=&quot;APP_FILE&quot; class=&quot;ch.qos.logback.core.rolling.RollingFileAppender&quot;&gt;
            &lt;file&gt;${org.apache.nifi.bootstrap.config.log.dir}/nifi-app.log&lt;/file&gt;
            &lt;rollingPolicy class=&quot;ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy&quot;&gt;
            &lt;!--
            For daily rollover, use &apos;app_%d.log&apos;.
            For hourly rollover, use &apos;app_%d{yyyy-MM-dd_HH}.log&apos;.
            To GZIP rolled files, replace &apos;.log&apos; with &apos;.log.gz&apos;.
            To ZIP rolled files, replace &apos;.log&apos; with &apos;.log.zip&apos;.
            --&gt;
            &lt;fileNamePattern&gt;${org.apache.nifi.bootstrap.config.log.dir}/nifi-app_%d{yyyy-MM-dd_HH}.%i.log&lt;/fileNamePattern&gt;
            &lt;maxFileSize&gt;100MB&lt;/maxFileSize&gt;
            &lt;!-- keep 30 log files worth of history --&gt;
            &lt;maxHistory&gt;30&lt;/maxHistory&gt;

            &lt;!-- optional setting for keeping 10GB total of log files
            &lt;totalSizeCap&gt;10GB&lt;/totalSizeCap&gt;
            --&gt;
            &lt;/rollingPolicy&gt;
            &lt;immediateFlush&gt;true&lt;/immediateFlush&gt;
            &lt;encoder class=&quot;ch.qos.logback.classic.encoder.PatternLayoutEncoder&quot;&gt;
            &lt;pattern&gt;%date %level [%thread] %logger{40} %msg%n&lt;/pattern&gt;
            &lt;/encoder&gt;
            &lt;/appender&gt;

            &lt;appender name=&quot;USER_FILE&quot; class=&quot;ch.qos.logback.core.rolling.RollingFileAppender&quot;&gt;
            &lt;file&gt;${org.apache.nifi.bootstrap.config.log.dir}/nifi-user.log&lt;/file&gt;
            &lt;rollingPolicy class=&quot;ch.qos.logback.core.rolling.TimeBasedRollingPolicy&quot;&gt;
            &lt;!--
            For daily rollover, use &apos;user_%d.log&apos;.
            For hourly rollover, use &apos;user_%d{yyyy-MM-dd_HH}.log&apos;.
            To GZIP rolled files, replace &apos;.log&apos; with &apos;.log.gz&apos;.
            To ZIP rolled files, replace &apos;.log&apos; with &apos;.log.zip&apos;.
            --&gt;
            &lt;fileNamePattern&gt;${org.apache.nifi.bootstrap.config.log.dir}/nifi-user_%d.log&lt;/fileNamePattern&gt;
            &lt;!-- keep 30 log files worth of history --&gt;
            &lt;maxHistory&gt;30&lt;/maxHistory&gt;
            &lt;/rollingPolicy&gt;
            &lt;encoder class=&quot;ch.qos.logback.classic.encoder.PatternLayoutEncoder&quot;&gt;
            &lt;pattern&gt;%date %level [%thread] %logger{40} %msg%n&lt;/pattern&gt;
            &lt;/encoder&gt;
            &lt;/appender&gt;

            &lt;appender name=&quot;BOOTSTRAP_FILE&quot; class=&quot;ch.qos.logback.core.rolling.RollingFileAppender&quot;&gt;
            &lt;file&gt;${org.apache.nifi.bootstrap.config.log.dir}/nifi-bootstrap.log&lt;/file&gt;
            &lt;rollingPolicy class=&quot;ch.qos.logback.core.rolling.TimeBasedRollingPolicy&quot;&gt;
            &lt;!--
            For daily rollover, use &apos;user_%d.log&apos;.
            For hourly rollover, use &apos;user_%d{yyyy-MM-dd_HH}.log&apos;.
            To GZIP rolled files, replace &apos;.log&apos; with &apos;.log.gz&apos;.
            To ZIP rolled files, replace &apos;.log&apos; with &apos;.log.zip&apos;.
            --&gt;
            &lt;fileNamePattern&gt;${org.apache.nifi.bootstrap.config.log.dir}/nifi-bootstrap_%d.log&lt;/fileNamePattern&gt;
            &lt;!-- keep 5 log files worth of history --&gt;
            &lt;maxHistory&gt;5&lt;/maxHistory&gt;
            &lt;/rollingPolicy&gt;
            &lt;encoder class=&quot;ch.qos.logback.classic.encoder.PatternLayoutEncoder&quot;&gt;
            &lt;pattern&gt;%date %level [%thread] %logger{40} %msg%n&lt;/pattern&gt;
            &lt;/encoder&gt;
            &lt;/appender&gt;

            &lt;appender name=&quot;CONSOLE&quot; class=&quot;ch.qos.logback.core.ConsoleAppender&quot;&gt;
            &lt;encoder class=&quot;ch.qos.logback.classic.encoder.PatternLayoutEncoder&quot;&gt;
            &lt;pattern&gt;%date %level [%thread] %logger{40} %msg%n&lt;/pattern&gt;
            &lt;/encoder&gt;
            &lt;/appender&gt;

            &lt;!-- valid logging levels: TRACE, DEBUG, INFO, WARN, ERROR --&gt;

            &lt;logger name=&quot;org.apache.nifi&quot; level=&quot;INFO&quot;/&gt;
            &lt;logger name=&quot;org.apache.nifi.processors&quot; level=&quot;WARN&quot;/&gt;
            &lt;logger name=&quot;org.apache.nifi.processors.standard.LogAttribute&quot; level=&quot;INFO&quot;/&gt;
            &lt;logger name=&quot;org.apache.nifi.controller.repository.StandardProcessSession&quot; level=&quot;WARN&quot; /&gt;


            &lt;logger name=&quot;org.apache.zookeeper.ClientCnxn&quot; level=&quot;ERROR&quot; /&gt;
            &lt;logger name=&quot;org.apache.zookeeper.server.NIOServerCnxn&quot; level=&quot;ERROR&quot; /&gt;
            &lt;logger name=&quot;org.apache.zookeeper.server.NIOServerCnxnFactory&quot; level=&quot;ERROR&quot; /&gt;
            &lt;logger name=&quot;org.apache.zookeeper.server.quorum&quot; level=&quot;ERROR&quot; /&gt;
            &lt;logger name=&quot;org.apache.zookeeper.ZooKeeper&quot; level=&quot;ERROR&quot; /&gt;
            &lt;logger name=&quot;org.apache.zookeeper.server.PrepRequestProcessor&quot; level=&quot;ERROR&quot; /&gt;

            &lt;logger name=&quot;org.apache.curator.framework.recipes.leader.LeaderSelector&quot; level=&quot;OFF&quot; /&gt;
            &lt;logger name=&quot;org.apache.curator.ConnectionState&quot; level=&quot;OFF&quot; /&gt;

            &lt;!-- Logger for managing logging statements for nifi clusters. --&gt;
            &lt;logger name=&quot;org.apache.nifi.cluster&quot; level=&quot;INFO&quot;/&gt;

            &lt;!-- Logger for logging HTTP requests received by the web server. --&gt;
            &lt;logger name=&quot;org.apache.nifi.server.JettyServer&quot; level=&quot;INFO&quot;/&gt;

            &lt;!-- Logger for managing logging statements for jetty --&gt;
            &lt;logger name=&quot;org.eclipse.jetty&quot; level=&quot;INFO&quot;/&gt;

            &lt;!-- Suppress non-error messages due to excessive logging by class or library --&gt;
            &lt;logger name=&quot;com.sun.jersey.spi.container.servlet.WebComponent&quot; level=&quot;ERROR&quot;/&gt;
            &lt;logger name=&quot;com.sun.jersey.spi.spring&quot; level=&quot;ERROR&quot;/&gt;
            &lt;logger name=&quot;org.springframework&quot; level=&quot;ERROR&quot;/&gt;

            &lt;!-- Suppress non-error messages due to known warning about redundant path annotation (NIFI-574) --&gt;
            &lt;logger name=&quot;com.sun.jersey.spi.inject.Errors&quot; level=&quot;ERROR&quot;/&gt;

            &lt;!--
            Logger for capturing user events. We do not want to propagate these
            log events to the root logger. These messages are only sent to the
            user-log appender.
            --&gt;
            &lt;logger name=&quot;org.apache.nifi.web.security&quot; level=&quot;INFO&quot; additivity=&quot;false&quot;&gt;
            &lt;appender-ref ref=&quot;USER_FILE&quot;/&gt;
            &lt;/logger&gt;
            &lt;logger name=&quot;org.apache.nifi.web.api.config&quot; level=&quot;INFO&quot; additivity=&quot;false&quot;&gt;
            &lt;appender-ref ref=&quot;USER_FILE&quot;/&gt;
            &lt;/logger&gt;
            &lt;logger name=&quot;org.apache.nifi.authorization&quot; level=&quot;INFO&quot; additivity=&quot;false&quot;&gt;
            &lt;appender-ref ref=&quot;USER_FILE&quot;/&gt;
            &lt;/logger&gt;
            &lt;logger name=&quot;org.apache.nifi.cluster.authorization&quot; level=&quot;INFO&quot; additivity=&quot;false&quot;&gt;
            &lt;appender-ref ref=&quot;USER_FILE&quot;/&gt;
            &lt;/logger&gt;
            &lt;logger name=&quot;org.apache.nifi.web.filter.RequestLogger&quot; level=&quot;INFO&quot; additivity=&quot;false&quot;&gt;
            &lt;appender-ref ref=&quot;USER_FILE&quot;/&gt;
            &lt;/logger&gt;


            &lt;!--
            Logger for capturing Bootstrap logs and NiFi&apos;s standard error and standard out.
            --&gt;
            &lt;logger name=&quot;org.apache.nifi.bootstrap&quot; level=&quot;INFO&quot; additivity=&quot;false&quot;&gt;
            &lt;appender-ref ref=&quot;BOOTSTRAP_FILE&quot; /&gt;
            &lt;/logger&gt;
            &lt;logger name=&quot;org.apache.nifi.bootstrap.Command&quot; level=&quot;INFO&quot; additivity=&quot;false&quot;&gt;
            &lt;appender-ref ref=&quot;CONSOLE&quot; /&gt;
            &lt;appender-ref ref=&quot;BOOTSTRAP_FILE&quot; /&gt;
            &lt;/logger&gt;

            &lt;!-- Everything written to NiFi&apos;s Standard Out will be logged with the logger org.apache.nifi.StdOut at INFO level --&gt;
            &lt;logger name=&quot;org.apache.nifi.StdOut&quot; level=&quot;INFO&quot; additivity=&quot;false&quot;&gt;
            &lt;appender-ref ref=&quot;BOOTSTRAP_FILE&quot; /&gt;
            &lt;/logger&gt;

            &lt;!-- Everything written to NiFi&apos;s Standard Error will be logged with the logger org.apache.nifi.StdErr at ERROR level --&gt;
            &lt;logger name=&quot;org.apache.nifi.StdErr&quot; level=&quot;ERROR&quot; additivity=&quot;false&quot;&gt;
            &lt;appender-ref ref=&quot;BOOTSTRAP_FILE&quot; /&gt;
            &lt;/logger&gt;

            &lt;!-- Turn off Calcite Exception logging --&gt;
            &lt;logger name=&quot;org.apache.calcite.runtime.CalciteException&quot; level=&quot;OFF&quot; /&gt;


            &lt;root level=&quot;INFO&quot;&gt;
            &lt;appender-ref ref=&quot;APP_FILE&quot;/&gt;
            &lt;/root&gt;

            &lt;/configuration&gt;
        </value>
        <description>Template for logback.xml</description>
        <value-attributes>
            <type>content</type>
        </value-attributes>
    </property>
</configuration>

